In [3]:
# -------------------------------------------------------------------
# 집계함수= => 평균, 표준편차, 최대값, 최소값, 중앙값, 최빈값,상관계수
# -------------------------------------------------------------------
import pandas as pd

In [4]:
FILE = '../dataFiles/auto-mpg.csv'
mpgDF =pd.read_csv(FILE,header=None)

In [18]:
# mpg0DF.info()
# type(mpgDF.tail(n=1)),type(mpgDF[0])

# mpgDF.iloc[-1], mpgDF.loc[0]

mpgDF.loc[:,[1,2]]

     1      2
0    8  307.0
1    8  350.0
2    8  318.0
3    8  304.0
4    8  302.0
..  ..    ...
393  4  140.0
394  4   97.0
395  4  135.0
396  4  120.0
397  4  119.0

[398 rows x 2 columns]

In [ ]:
# 컬럼 지정하기 => columns 속성

mpgDF.columns =['mpg', 'cylinders' ,'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'car_name']
mpgDF.head(3)

In [7]:
# mpgDF.mean() #numeric_only=None' is deprecated.
# 숫자가 아닌 데이터들이 있다.
mpgDF.mean(numeric_only=True) #평균

mpg               23.514573
cylinders          5.454774
displacement     193.425879
weight          2970.424623
acceleration      15.568090
model_year        76.010050
origin             1.572864
dtype: float64

In [8]:
mpgDF.median(numeric_only=True) #중앙값

mpg               23.0
cylinders          4.0
displacement     148.5
weight          2803.5
acceleration      15.5
model_year        76.0
origin             1.0
dtype: float64

In [9]:
mpgDF.mode() #최빈값 #가장 많이 나온 값
#동일한게 있다면 같이 뿌려줌

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,13.0,4.0,97.0,150.0,1985.0,14.5,73.0,1.0,ford pinto
1,NaN,NaN,NaN,90.00,2130.0,NaN,NaN,NaN,NaN

In [11]:
mpgDF.horsepower.value_counts(),mpgDF.weight.value_counts(),
mpgDF.mpg.value_counts()

13.0    20
14.0    19
18.0    17
15.0    16
26.0    14
        ..
31.9     1
16.9     1
18.2     1
22.3     1
44.0     1
Name: mpg, Length: 129, dtype: int64

In [13]:
print(mpgDF.max(), mpgDF.min(),sep="\n\n")

mpg                         46.6
cylinders                      8
displacement               455.0
horsepower                     ?
weight                    5140.0
acceleration                24.8
model_year                    82
origin                         3
car_name        vw rabbit custom
dtype: object

mpg                                 9.0
cylinders                             3
displacement                       68.0
horsepower                        100.0
weight                           1613.0
acceleration                        8.0
model_year                           70
origin                                1
car_name        amc ambassador brougham
dtype: object

In [15]:
#표준편차
mpgDF.std(numeric_only=True)

mpg               7.815984
cylinders         1.701004
displacement    104.269838
weight          846.841774
acceleration      2.757689
model_year        3.697627
origin            0.802055
dtype: float64

In [17]:
#상관계수 => 컬럼과 컬럼의 연관성을 수치화 
# (깊은 상관관계)-1 ~ 0(관계없음) ~ 1 (깊은 상관관계)

mpgDF.corr(numeric_only=True)

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
mpg,1.000000,-0.775396,-0.804203,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.932824,-0.543684,-0.370164,-0.609409
weight,-0.831741,0.896017,0.932824,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.417457,1.000000,0.288137,0.205873
model_year,0.579267,-0.348746,-0.370164,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.581024,0.205873,0.180662,1.000000

In [20]:
# auto_mpg 칼럼 중 서로 관련이 깊은 컬럼 순위 => 내림차순
oneCorr=mpgDF.corr(numeric_only=True).mpg
type(oneCorr),oneCorr.index

(pandas.core.series.Series,
 Index(['mpg', 'cylinders', 'displacement', 'weight', 'acceleration',
        'model_year', 'origin'],
       dtype='object'))

In [21]:
#절대값 => 값기준 내림차순
oneCorr = abs(oneCorr)
oneCorr

mpg             1.000000
cylinders       0.775396
displacement    0.804203
weight          0.831741
acceleration    0.420289
model_year      0.579267
origin          0.563450
Name: mpg, dtype: float64

In [23]:
oneCorr.sort_values(ascending=False)

mpg             1.000000
weight          0.831741
displacement    0.804203
cylinders       0.775396
model_year      0.579267
origin          0.563450
acceleration    0.420289
Name: mpg, dtype: float64

In [40]:
# 데이터 프레임의 수치 데이터에 대한 기술통계값
# 평균, 표준편차, 최소값, 최대값
# mpgDF.describe().transpose()
newmpgDF = mpgDF.describe()

fourDF = newmpgDF.loc[['mean','std','min','max']]

fourDF = mpgDF.describe().iloc[[1,2,3,7]]

#행을 컬럼으로 , 컬럼을 행으로  => 전치(Transpose)

fourDF.transpose()

                     mean         std     min     max
mpg             23.514573    7.815984     9.0    46.6
cylinders        5.454774    1.701004     3.0     8.0
displacement   193.425879  104.269838    68.0   455.0
weight        2970.424623  846.841774  1613.0  5140.0
acceleration    15.568090    2.757689     8.0    24.8
model_year      76.010050    3.697627    70.0    82.0
origin           1.572864    0.802055     1.0     3.0

In [41]:
fourDF.transpose()

                     mean         std     min     max
mpg             23.514573    7.815984     9.0    46.6
cylinders        5.454774    1.701004     3.0     8.0
displacement   193.425879  104.269838    68.0   455.0
weight        2970.424623  846.841774  1613.0  5140.0
acceleration    15.568090    2.757689     8.0    24.8
model_year      76.010050    3.697627    70.0    82.0
origin           1.572864    0.802055     1.0     3.0

In [42]:
fourDF.T

                     mean         std     min     max
mpg             23.514573    7.815984     9.0    46.6
cylinders        5.454774    1.701004     3.0     8.0
displacement   193.425879  104.269838    68.0   455.0
weight        2970.424623  846.841774  1613.0  5140.0
acceleration    15.568090    2.757689     8.0    24.8
model_year      76.010050    3.697627    70.0    82.0
origin           1.572864    0.802055     1.0     3.0

# ====================================================================
# 비교연산자 연산 =>  >, >=, <, <=, == , !=
# 결과 True, False
# =====================================================================

In [47]:
# mpg 컬럼의 데이가 25보다 큰 데이터만 출력하세요.
mpgDF.mpg > 25
# 이것을 활용해서, 시리즈형태의 결과값을 가지고 => 
mpgDF.mpg[5] #컬럼이 한 개 빠지면 씨리즈
mpgDF.mpg[mpgDF.mpg > 25]  # 비교연산을 거쳐서 나온, 데이터  => 특성 데이터로 추출할때, 

mpgDF.mpg[mpgDF.mpg > mpgDF.mpg.mean()]  #mpg의 평균보다 큰 애들 / 
# 불린 인덱싱! (Boolean Indexing) => True, False로 구성된 인덱스
# Ture인 행만 출력

14     24.0
18     27.0
19     26.0
20     25.0
21     24.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 189, dtype: float64

In [49]:
mpgDF[mpgDF.mpg > mpgDF.mpg.mean()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
14,24.0,4,113.0,95.00,2372.0,15.0,70,3,toyota corona mark ii
18,27.0,4,97.0,88.00,2130.0,14.5,70,3,datsun pl510
19,26.0,4,97.0,46.00,1835.0,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.00,2672.0,17.5,70,2,peugeot 504
21,24.0,4,107.0,90.00,2430.0,14.5,70,2,audi 100 ls
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [1]:
# 2장 3장만 복습! 
# 시간이 있다면, 남북한 전력량 => 연도가 있다.
# 1990년도의 합계, 북한의 신재생 0으로 넣어줘야하고
# 가로로 행의 수력에 대한 90년대 부터 16년도까지의 평균값, 평균값을 (새로운 컬럼)에 넣기

mpgDF.tail()

NameError: name 'mpgDF' is not defined